
# Created by https://www.gitignore.io/api/c++,codeblocks
# Edit at https://www.gitignore.io/?templates=c++,codeblocks

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
# generated directories
bin/
obj/
.vscode/
210219/
Assingment1/
Challenge/
Debugger/
DeclaringClasses/
Files/
Mimi Class/
MoveConstructor/
Mystring-move-assignment/
Section 11/
Section4/
Section6Challenge/
Section7Challenge/
Section8Challenge/
Section9Challenge/
Section10/
Section10Challenge/
Section10Challenge2/
Section11/
Section12/
Section12Challenge/
Section13/
Section13Challenge/
Section14/
ShallowCopy/
# End of https://www.gitignore.io/api/c++,codeblocks